*.log*
*/devices/
*/gerber/
*/lib/
*.dat*
*/History/
*/__Previews/
*/report/
*/signoise.run/
*.tmp
*.dmp
*.txt*
*.cnv*
*.DBK
*.tag
*.dml
*.BOM
AUTOSAVE*
*.DXF
*.SAV
*.OLB
*.lck
*.DSNlck
*.brd,*
*/log/
*.dxf,*
*.rar
*.zip
*.htm
*/Imported*
*.opj
*.pdf
*.bak
*.jrl,*
*.jrl
*.log
*.log,1
*.log,2
*.txt
*.xlsx
*.xls
*.csv
*/__pycache__/

# kicad
_autosave*
\#auto_saved_files\#
*backups/
fabs/
*cache
